.left-col.grid_8
  %h2 Shodan.UI.Slideshow

  %h3 What is it?

  %p
    A simple image slideshow

  %h3 Demo

  %h4 Basic example with default options

  #slideshow-demo.sh-ui-slideshow
    %img.sh-ui-slideshow-slide{:src => "images/slideshow/Pensive Parakeet.jpg", :alt => "slide 1"}
    %img.sh-ui-slideshow-slide{:src => "images/slideshow/Random-Penguins-random-16779663-1024-768.jpg", :alt => "slide 2"}
    %img.sh-ui-slideshow-slide{:src => "images/slideshow/Random-Wallpapers-random-10799667-1024-768.jpg", :alt => "slide 3"}
    %img.sh-ui-slideshow-slide{:src => "images/slideshow/Random-Wallpapers-random-10799672-1024-768.jpg", :alt => "slide 4"}

  %h4 HTML

  %p The .inner &amp; .hd divs are only for styling purposes and can be omitted. (see note in CSS section below).

  %script{:src=>"https://gist.github.com/846512.js?file=Shodan.UI.Accordion.html"}

  %h4 Javascript
  %script{:src=>"https://gist.github.com/846516.js?file=Shodan.UI.Accordion.js"}

  %h4 CSS
  %p
    Style as you see fit but make sure that you don't apply any border, padding or margin
    to the container &lt;li&gt;s. If you need to, add it to an .inner &lt;div&gt;, as per the example.

  %p
    If you don't intend to use any border, margin or padding style you can omit the .inner &lt;div&gt; altogether.

  %h3 Usage

  %p
    See the demo for an example markup pattern.

  %code
    new Shodan.UI.SimpleSlideshow(element (String)[, options (Object)]);

  %ul.args
    %li element (DOM Element | String): A DOM element or ID
    %li options (Object): Various configuration options

  %h4 Options

  %ul.args
    %li
      %strong allowMultiOpen (Bool):
      Set to true if more than one item can be open at once.
    %li
      %strong autoHide (Bool):
      set to true if content should be hidden initially. Defaults to true;
    %li
      %strong callback (Function):
      Callback function to be executed after show / hide animation.
    %li
      %strong contentSelector (String):
      CSS selector for the content to be toggled. Should be unique. Defaults to ".sub".
    %li
      %strong duration (Int):
      Duration in seconds, defaults to 0.5 (a fifth of a second).
    %li
      %strong openClass (String):
      CSS class to be applied to container when content is showing. Defaults to "open".
    %li
      %strong toggleSelector (String):
      CSS selector for the toggle. Should be unique. Defaults to ".content".
    %li
      %strong transition (String):
      Scripty2 animation transition preset.
      = link "Scripty2 transitions", "http://scripty2.com/doc/scripty2%20fx/s2/fx/transitions.html"

  %h3 ToDo

  %p
    %ul
      %li Reset when toggled mid animation.
      %li Examples demonstrating the other options.

.right-col.grid_4
  = partial('github')

:javascript
  $(document).observe('dom:loaded', function(){
    new Shodan.UI.Slideshow('slideshow-demo');
  });

/ :javascript
/   (function(g,b,d){var c=b.head||b.getElementsByTagName("head"),D="readyState",E="onreadystatechange",F="DOMContentLoaded",G="addEventListener",H=setTimeout;
/   function f(){
/     $LAB
/     .script('js/prototype.s2.min.js').wait()
/     .script('shodan-ui/shodan.ui.base.js').wait()
/     .script('shodan-ui/shodan.ui.accordion.js').wait()
/     .wait(function() {
/        new Shodan.UI.Accordion('sh-ui-accordion-demo');
/     });
/   }
/   H(function(){if("item"in c){if(!c[0]){H(arguments.callee,25);return}c=c[0]}var a=b.createElement("script"),e=false;a.onload=a[E]=function(){if((a[D]&&a[D]!=="complete"&&a[D]!=="loaded")||e){return false}a.onload=a[E]=null;e=true;f()};
/
/   a.src="js/LAB.src.js";
/
/   c.insertBefore(a,c.firstChild)},0);if(b[D]==null&&b[G]){b[D]="loading";b[G](F,d=function(){b.removeEventListener(F,d,false);b[D]="complete"},false)}})(this,document);